# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/deployment.xml
/encodings.xml
/misc.xml
/vcs.xml
/kotlinc.xml
/inspectionProfiles/Project_Default.xml
/uiDesigner.xml
